html {
    font-family: Hind;
    color: #002B39;
    width:100%;
}

h1, h2 {
    font-size: 35px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
}


button {
    color: #fff;
    box-shadow: 0 9px 12px 0 rgba(153, 176, 190, 0.35);
    background-image: linear-gradient(0deg, #007fff 0%, #00b1ff 100%);
    font-weight:700px;
    font-size:18px;
    border-width: 0px;
    border-radius: 5px;
    padding: 15px 45px 11px 46px;
    display: block;
    margin: auto;
    cursor: pointer;
}
button:hover{
    color: blue;
    background: white;
    border-width:1px;
    border-botton-color:blue;
    box-shadow: none;
}

body {
    margin: 0;
}

#logoVenn {
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    padding-top: 40px;
}

#seccion1 {
    background-image: url("img/Grupo 9213.webp");
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 120px;
}

#tarjeta {
    padding-top: 18px;
    height: 280px;
    max-width: 700px;
    box-shadow: 0 25px 35px 0 rgba(26, 72, 100, 0.2);
    border: solid 1px #dfeaf0;
    background-image: linear-gradient(to bottom, #fff, #fff 76%, #f0faff);
    margin: auto;
    margin-top: 51px;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 50px 30px;
    border-radius: 5px;
    
}

#tarjeta >img{
    width: 237px;
    height: 237px;
    display: inline;
    grid-column: 1;
    grid-row: 1 / -1;
}

#tarjeta > p{
    grid-row: 3;
    grid-column: 2 / -1;
}
#tarjeta >h3,#tarjeta >h5,.estrellas{
    display: inline;
}

#tarjeta > h5{
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    color: #007fff;
}

.estrellas{
    grid-row: 2;
    grid-column: 3;
    max-height: 20px;
}

#seleccionadorTarjeta {
    display: block;
}

#tarjetas {
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 51px;
    padding: 2px 10px 2px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: none;
    gap: 30px;
    background-color: rgba(227, 236, 241, 0.918);
    box-shadow: 20px 100px 100px 20px rgba(227, 236, 241, 0.918);
}

#tarjetas > .tarjetaProductos, .tarjetaProductosMin{
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    background-color: #fff;
    width: 300px;
    height: relative;
   
}

.tarjetaProductos > img{
    width: 300px;
    height: 300px;
    
    display: block;
}

.tarjetaProductos > h5{
    text-align: center;
    font-size: 30px;
}
.tarjetaProductos > p{
    text-align: center;
}

#enrolar{   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 600px;
    margin: auto;
    gap: 20px;
    background-position: top center;
    display: block;
}

#enrolar > .numeros{
    display: flex;
    justify-content: space-around;
    grid-column-start: 1 / 3;
    padding-left: 20px;
}
#enrolar > .procesos{
    display: flex;
    grid-column-start: 2;
    justify-content: space-around;
    padding-left: 10px;
}
.procesos > img:hover{
    color: white;
    background: blue;
}

#enrolar > .descripciones{
    display: flex;
    grid-column-start: 3;
    justify-content: space-around;
    padding-left: 20px;
}

#seccionCuadricula{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("https://venn-ws-bucket.s3.us-west-2.amazonaws.com/wp-content/uploads/2021/09/14122056/Enmascarar-grupo-285%403x-scaled.webp")
}

.cuadricula{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 600px;
    margin: auto;
    gap: 35px;
    justify-content: center;
}

.tarjetaCaracteristica{
    text-align: center;
    justify-self: center;
    border-radius: 10px ;
    padding: 22px 5% !important;
    box-shadow: 0 20px 15px 0 rgb(26 72 100 / 10%) !important;
    border:solid 1px #dfeaf0;
    width:280px ;
    height: 145px;
    box-sizing: border-box;
}

.tarjetaCaracteristica:hover{
    border:solid 1px rgb(0, 153, 255);
}

.negritas{
    font-weight: bolder;
}


#ultimoBoton{
    margin-top: 50px;
    margin-bottom: 100px;
}

#footer{
    display: grid;
    grid-template-rows: 10% 1fr 10% 30%;
    grid-template-columns: 1fr 1fr 3fr 2fr 1fr;
    background-image: linear-gradient(90deg,#1489ff 0%,#0073e6 100%)!important;
}

#footer > .imagenVenn{
    padding-top: 30px;
    grid-row: 1;
    grid-column: 2;
}

#footer > .imagenRedes{
    grid-template-columns: 2fr 3fr;
    grid-column: 4;
}

.imagenRedes > img{
    padding-top: 60px;
    padding-left: 30px;
    grid-column: 2; 
    display: inline;
    justify-self: center;
}

#footer > .politicas{
    display: inline-grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 0.5fr;
    grid-row: 4;
    gap: 40px;
}

#footer > .politicas > .politica1{
    color: #fff;
    grid-column: 2;
}
#footer > .politicas, .politica2{ 
    color: #fff;
    grid-column: 3;
}
#footer > .politicas, .politica3{ 
    color: #fff;
    grid-column: 4;
}
@media only screen and (min-width:320px) {
    
}
@media screen and (min-width:320px) {
    .cuadricula {
        display: grid;
        grid-template-columns:1fr 1fr;
    }
    #seleccionadorTarjeta, #seleccionadorTarjetaProducto {
        display: none;
        background-position: top center;
    }
}

@media only screen and (max-width:320px) {
    #tarjetas {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    div.tarjetaProductosMin {
        display: none;
        grid-column:1;
    } 
    .tarjetaProductosMin > h5{
        text-align: center;
        font-size: 30px;
    }
    .tarjetaProductosMin > p{
        text-align: center;
    }
    .tarjetaProductos > img{
        width: 300px;
        height: 300px;
        display: block;
    }
}

@media only screen and (max-width: 321px) {
    div.tarjetaProductos{
        display: screen;
    }
}